<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/node.jpg" alt="">
  </div>
  <div class="headings">
    <h2>NodeJS Auth</h2>
    <h3>using express, JWT</h3>
    <a href="/protected" class="btn">View Protected Route</a>
  </div>
</header>


<%- include('partials/footer'); -%>