<%- include('partials/header'); -%>

<ul class="list">
  <li class="list-item">
    <img src="/node.jpg" alt="node icon">
    <h4>Node</h4>
    <p>Node rocks</p>
  </li>
  <li class="list-item">
    <img src="/node.jpg" alt="node icon">
    <h4>Express</h4>
    <p>Express is cool</p>
  </li>
  <li class="list-item">
    <img src="/node.jpg" alt="node icon">
    <h4>JWT</h4>
    <p>JWT is nice</p>
  </li>
</ul>

<%- include('partials/footer'); -%>